.techs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

/* .techs:hover {
    animation: animate .5s infinite;
    cursor: pointer;
}
@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
} */